@import "../base/vars";

.btn {
  text-decoration: none;
  color: $dark-color;
  display: inline-block;
  border: none;
  outline: none;

  &__primary {
    display: inline-block;
    font-family: $font-din-bold;
    font-size: 15px;
    text-transform: uppercase;
    color: $white-color;
    border-radius: 4px;
    background: $primary-color;
    padding: 10px 40px;

    &:hover{
      opacity: 0.9;
    }

    &--filter{
      padding: 10px 25px;
      font-size: 12px;
    }
  }

  &__primary-order{

    display: block;

    text-align: center;
    font-family: $font-din-bold;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $white-color;

    padding: 15px;

    background: #dc3876;
    border-radius: 4px;

    transition: opacity 0.3s;
    i{
      font-size: 14px;
      margin-right: 12px;
    }

    &:hover{
      opacity: 0.9;
    }

  }

  &__primary-outline{
    font-family: $font-din-bold;
    font-size: 15px;
    text-transform: uppercase;
    color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 4px;
    padding: 10px 40px;

    &:hover{
      opacity: 0.9;
    }
  }

  &__default{
    font-family: $font-din-bold;
    font-size: 15px;
    text-transform: uppercase;
    color: $primary-color;

    &:hover{
      opacity: 0.9;
    }

    &:after{
      content: "\e93a";
      font-family: $font-icon-moon;
      font-size: 11px;
      padding-left: 10px;
    }
  }

  &__default-outline{
    display: inline-block;
    font-family: $font-din-bold;
    font-size: 15px;
    text-transform: uppercase;
    color: $dark-color;
    border: 1px solid #e9e9f0 ;
    border-radius: 4px;
    padding: 10px 40px;

    &:hover{
      opacity: 0.9;
    }

    &--filter{
      padding: 10px 25px;
      font-size: 12px;
    }
  }

  &__dark {
    display: inline-block;
    font-family: $font-din-bold;
    font-size: 15px;
    text-transform: uppercase;
    color: $white-color;
    border-radius: 4px;
    background: $dark-color;
    padding: 10px 40px;
    cursor: pointer;

    &:hover{
      opacity: 0.9;
    }

    &--filter{
      padding: 10px 25px;
      font-size: 12px;
    }
  }
}
