@import "../../components/btn/btn";
@import "../../components/base/smartgrid";

.edit_order {
  background: #f5f5f7;
  min-height: 60vh;
  &__wrap {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__prod-block {
    width: 100%;
    max-width: 800px;
    border: 1px solid #e9e9f0;
  }

  &__estimation-block {
    width: 100%;
    max-width: 350px;
    margin-left: 24px;
  }
}

.product {
  padding: 0 25px;

  background: $white-color;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-bottom: 2px solid #e9e9f0;

    &:last-child {
      border: none;
    }
  }

  &__image {
    max-width: 88px;
    height: auto;
    padding-right: 25px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    flex-grow: 2;

    position: relative;
    top: 20px;
  }

  &__title {
    display: block;
    font-family: $font-din-medium;
    font-size: 18px;
    color: $dark-color;
    margin-bottom: 20px;
    transition: color 0.3s;

    &:hover {
      color: $primary-color;
    }
  }

  &__remove {
    font-family: $font-din-medium;
    font-size: 12px;
    letter-spacing: -0.18px;
    color: #b1b1b3;
    text-transform: uppercase;
    transition: color 0.3s;

    &:hover {
      color: $dark-color;
    }
  }

  &__count {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  &__minus, &__plus{
    font-size: 21px;
    color: #b0b0b8;
  }

  &__in{
    font-family: $font-din-regular;
    font-size: 16px;
    color: $dark-color;
    padding: 0 15px;
  }

  &__price {
    font-family: $font-din-medium;
    font-size: 20px;
    color: $primary-color;
    text-align: right;
    flex-grow: 1;
  }

}

.estimation{
  background: $white-color;
  border: 1px solid #e9e9f0;

  &__title{
    font-family: $font-din-bold;
    font-size: 18px;
    color: $dark-color;

    padding: 12px 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e9e9f0;
  }

  &__item{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    font-family: $font-din-regular;
    color: #646464;
    font-size: 14px;

    padding: 0 25px;
    margin-bottom: 10px;
  }

  &__total{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    font-family: $font-din-medium;
    font-size: 18px;
    text-transform: uppercase;

    padding: 0 25px;
    margin-top: 30px;
  }

  &__action{
    text-align: center;
    padding: 0 25px;
    margin: 30px 0 45px;

    .btn__primary{
      width: 100%;
      display: inline-block;
      box-sizing: border-box;
      background: #dc3876;

      letter-spacing: 2.4px;
      font-size: 12px;
    }
  }

}
