extends ../../components/base/base

block title
    title Страница изменения заказа

block content
    main.edit_order
        div.edit_order__wrap
            include ../../components/basket/basket_native




