extends ../../components/base/base

block title
    title Страница оформления заказа

block content
    main.contacts
        section.contacts__wrap
            h1.contacts__title Контакты
            h2.contacts__subtitle Вопросы, замечания, комментарии?
            div.contacts__group
                ul.contacts__list
                    li.contacts__item
                        a(href='#').contacts__link
                            i.icon-email-c
                            span sales@bixbit.io
                    li.contacts__item
                        a(href='#').contacts__link
                            i.icon-phone-c
                            span +34 393 323 32 22

                div.contacts__form
                    div.input__group
                        div.input
                            input(type='text' required='required' id='str')
                            label(for='str') Имя
                            small Текст ошибки
                        div.input
                            input(type='text' required='required' id='str')
                            label(for='str') Email
                            small Текст ошибки
                    div.textarea__group
                        div.textarea
                            textarea(required='required' id='str') asdasd
                            label(for='str') Сообщение
                            small Текст ошибки
                    div.contacts__action
                        button.btn.btn__dark Отправить

        section.contacts__breadcrumb
            ul.breadcrumb
                li.breadcrumb__item
                    a.breadcrumb__link Главная
                li.breadcrumb__item
                    a.breadcrumb__link Asic
                li.breadcrumb__item
                    a.breadcrumb__link Bitmain s9
                li.breadcrumb__item
                    a.breadcrumb__link 14.5 th/s
