@import "../../components/btn/btn";
@import "../../components/base/smartgrid";

.contacts {
  min-height: 60vh;
  background: #f5f5f7;
  padding: 25px;

  &__breadcrumb{
    max-width: 1130px;
    margin: 25px auto;
  }

  &__wrap {
    max-width: 1080px;
    min-height: 500px;
    margin: 0 auto;
    padding: 25px;
    background: $white-color;
    border: 1px solid #e9e9f0;
  }
  
  &__title{
    font-family: $font-din-bold;
    font-size: 46px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__subtitle{
    font-family: $font-din-regular;
    font-size: 18px;
    text-align: center;
    margin-bottom: 100px;
  }

  &__group{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 60px 50px;
  }

  &__list{
    min-width: 200px;
    padding-right: 50px;
  }

  &__item {
    padding-bottom: 15px;
  }

  &__link {
    font-family: $font-din-regular;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.8;
    }
    .icon-email-c {
      font-size: 22px;
      padding-right: 15px;
    }
    .icon-phone-c {
      font-size: 22px;
      padding-right: 15px;
    }
    .icon-skype {
      font-size: 20px;
      padding-right: 15px;
    }
  }

  &__form{
    padding-left: 50px;
    flex-grow: 1;
  }
  
  &__action{
    text-align: right;
  }

  @include sm-block{
    &__wrap{
      min-height: auto;
    }
    &__title{
      font-size: 36px;
    }
    &__subtitle{
      margin-bottom: 25px;
    }
    &__list{
      padding: 25px 0;
    }
    &__form{
      padding: 25px 0;
    }
    &__group{
      flex-wrap: wrap;
      margin: 0;
    }

    &__action{
      text-align: center;
    }
  }
}

.contacts .input {
  width: 100%;
  position: relative;


  label{
    display: block;
    font-family: $font-din-regular;
    font-size: 14px;
    color: #0a1f44;
    opacity: 0.4;

    position: absolute;
    top: 13px;
    left: 15px;

    transition: all 0.3s;
  }

  select{
    display: block;
    font-family: $font-din-regular;
    font-size: 14px;
    color: #0a1f44;
    transition: all 0.3s;
  }


  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input {
    width: 100%;
    padding: 13px 15px;
    border: 1px solid #e1e4e8;
    border-radius: 4px;

    font-family: $font-din-regular;
    font-size: 14px;
    box-sizing: border-box;
    appearance: none;
  }

  select{
    width: 100%;
    padding: 13px 15px;
    border: 1px solid #e1e4e8;
    border-radius: 4px;

    font-family: $font-din-regular;
    font-size: 14px;
    box-sizing: border-box;
  }
  small {
    position: absolute;
    bottom: -18px;
    display: none;
    font-family: $font-din-regular;
    font-size: 12px;
    color: #ff1f50;
    max-height: 15px;
    overflow: hidden;
  }
  select:focus + label,
  select:valid + label,
  input:valid + label,
  input:focus + label {
    top: -20px;
    left: 0;
  }

  &.has-error small {
    display: block;
  }

  &__group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 25px;

    & > div:last-child {
      padding-right: 0;
    }

    & > div {
      padding-right: 25px;
    }
  }

  @include sm-block {

    margin: 0 0 45px 0;

    &__group {
      flex-wrap: wrap;

      & > div {
        padding-right: 0;
      }
    }

  }
}

.contacts .textarea {
  width: 100%;
  position: relative;
  margin-top: 25px;


  label{
    display: block;
    font-family: $font-din-regular;
    font-size: 14px;
    color: #0a1f44;
    opacity: 0.4;

    position: absolute;
    top: 13px;
    left: 15px;

    transition: all 0.3s;
  }


  textarea {
    width: 100%;
    height: 100%;
    padding: 13px 15px;
    border: 1px solid #e1e4e8;
    border-radius: 4px;
    resize: none;
    font-family: $font-din-regular;
    font-size: 14px;
    box-sizing: border-box;
    appearance: none;
  }

  small {
    position: absolute;
    bottom: -18px;
    display: none;
    font-family: $font-din-regular;
    font-size: 12px;
    color: #ff1f50;
    max-height: 15px;
    overflow: hidden;
  }
  textarea:valid + label,
  textarea:focus + label {
    top: -20px;
    left: 0;
  }

  &.has-error small {
    display: block;
  }

  &__group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 25px;

    & > div:last-child {
      padding-right: 0;
    }

    & > div {
      padding-right: 25px;
    }
  }

  @include sm-block {

    margin: 0 0 45px 0;

    &__group {
      flex-wrap: wrap;
    }

  }
}