@import "../../components/btn/btn";
@import "../../components/base/smartgrid";

.manufacturer {
  min-height: 60vh;
  background: #f5f5f7;
  padding: 25px;

  &__wrap {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
    background: $white-color;
    border: 1px solid #e9e9f0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__breadcrumb{
    max-width: 850px;
    margin: 25px auto;
  }

  &__title {
    flex-basis: 100%;
    flex-grow: 1;
    font-family: $font-din-bold;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 70px;
  }

  &__letter_nav{
    flex-basis: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  &__letter_nav li:first-child{
    font-family: $font-din-medium;
    font-size: 14px;
  }

  &__letter_nav li{
    font-family: $font-din-bold;
    font-size: 14px;
    padding: 5px;
  }


  &__item{}

  &__item li{}

  &__item span{
    display: inline-block;
    font-family: $font-din-medium;
    font-size: 28px;
    padding: 0 10px;
  }
  &__item ul{
    display: flex;
    flex-wrap: wrap;
  }
  &__item ul li{
    padding: 10px;
    margin-bottom: 25px;
  }
  &__item ul li a{
    font-family: $font-din-regular;
    font-size: 14px;
    color: $primary-color;
  }
}