extends ../../components/base/base

block title
    title Страница оформления заказа

block content
    main.manufacturer
        section.manufacturer__wrap
            h1.manufacturer__title Список производителей

            ul.manufacturer__letter_nav
                li Алфавитный указатель:
                li
                    a(href='#') A
                li
                    a(href='#') B
                li
                    a(href='#') C

            ul.manufacturer__item
                li
                    span A
                    ul
                        li
                            a(href='#') Aplle
                        li
                            a(href='#') Aplle
                        li
                            a(href='#') Aplle
                        li
                            a(href='#') Aplle
        section.manufacturer__breadcrumb
            ul.breadcrumb
                li.breadcrumb__item
                    a.breadcrumb__link Главная
                li.breadcrumb__item
                    a.breadcrumb__link Asic
                li.breadcrumb__item
                    a.breadcrumb__link Bitmain s9
                li.breadcrumb__item
                    a.breadcrumb__link 14.5 th/s
