@import "../../components/btn/btn";
@import "../../components/base/smartgrid";

.site_map {
  min-height: 60vh;
  background: #f5f5f7;
  padding: 25px;

  &__wrap {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
    background: $white-color;
    border: 1px solid #e9e9f0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__breadcrumb{
    max-width: 850px;
    margin: 25px auto;
  }

  &__col {
    flex-basis: 50%;
    flex-grow: 1;
    padding: 25px;
    box-sizing: border-box;
  }

  &__title {
    flex-basis: 100%;
    flex-grow: 1;
    font-family: $font-din-bold;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
  }

  &__cat_title {

  }

  &__list {
    padding-left: 25px;
    margin-bottom: 15px;
  }

  &__list li {
    margin-bottom: 10px;
  }

  &__list a {
    font-family: $font-din-regular;
    font-size: 14px;
    color: $primary-color;
  }

}