extends ../../components/base/base

block title
    title Страница оформления заказа

block content
    main.site_map
        div.site_map__wrap
            h1.site_map__title Карта сайта
            div.site_map__col
                ul.site_map__list
                    li
                        a(href='#') Название ссылки
                    li
                        a(href='#') Название ссылки
                    li
                        a(href='#') Название ссылки
                    li
                        ul.site_map__list
                            li
                                a(href='#') Название ссылки
                            li
                                a(href='#') Название ссылки
                            li
                                a(href='#') Название ссылки
                            li
                                a(href='#') Название ссылки
                    li
                        a(href='#') Название ссылки
                    li
                        a(href='#') Название ссылки
                    li
                        a(href='#') Название ссылки
            div.site_map__col
                ul.site_map__list
                    li
                        a(href='#') Название ссылки
                    li
                        a(href='#') Название ссылки
                    li
                        a(href='#') Название ссылки
                    li
                        ul.site_map__list
                            li
                                a(href='#') Название ссылки
                            li
                                a(href='#') Название ссылки
                            li
                                a(href='#') Название ссылки
                            li
                                a(href='#') Название ссылки
                    li
                        a(href='#') Название ссылки
                    li
                        a(href='#') Название ссылки
                    li
                        a(href='#') Название ссылки
        section.site_map__breadcrumb
            ul.breadcrumb
                li.breadcrumb__item
                    a.breadcrumb__link Главная
                li.breadcrumb__item
                    a.breadcrumb__link Asic
                li.breadcrumb__item
                    a.breadcrumb__link Bitmain s9
                li.breadcrumb__item
                    a.breadcrumb__link 14.5 th/s
