div#dialog.dialog.dialog--basket.is-show
    div.dialog__content
        div.basket
            a(href='javascript:void(0)' data-dismiss='dialog').basket__close
            div.basket__title Корзина
            div.basket__alert Товаров выделеных красным нет в наличии в необходимом количестве!

            div.basket__info
                div.basket__name Товар
                div.basket__count Кол-во
                div.basket__price Цена

            div.basket__products.basket-product
                each val in [1,2,3,4,5]
                    div.basket-product__item.error-stock
                        div.basket-product__wrap
                            a.basket-product__remove.icon-remove
                            img(src=require('./asic.png')).basket-product__image
                            span.basket-product__details
                                span.basket-product__title Asicminer 3D
                                ul.basket-product__opts
                                    li.basket-product__opts-item Устройство: ASIC Antminer B7
                                    li.basket-product__opts-item Отвод тепла: Градирня
                                    li.basket-product__opts-item Градирня 5kW
                            span.basket-product__count
                                a(href='javascript:void(0)').icon-minus.basket-product__icon
                                span.basket-product__in 1
                                a(href='javascript:void(0)').icon-plus.basket-product__icon
                            span.basket-product__price 20&nbsp;000BYN

            div.basket__total
                div.basket__total-title Total
                div.basket__total-sum $1 035

            div.basket__action
                a(href='javascript:void(0)').btn__default-outline Очистить
                a(href='./order.html').btn__primary Заказать
            .basket__empty Дорогой покупатель Ваша корзина пустая.






