@import "../../components/btn/btn";
@import "../../components/base/smartgrid";

.information {
  min-height: 60vh;
  background: #f5f5f7;
  padding: 25px;

  &__wrap {
    max-width: 800px;
    margin: 0 auto 25px;
    padding: 25px;
    background: $white-color;
    border: 1px solid #e9e9f0;

  }

  &__breadcrumb-block{
    max-width: 850px;
    margin: 0 auto;
  }

  &__title{
    font-family: $font-din-bold;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  &__desc{
    font-family: $font-din-regular;
    font-size: 16px;
  }


}
