extends ../../components/base/base

block title
    title Страница оформления заказа

block content
    main.information
        div.information__wrap
            h1.information__title Оформление заказа
            p.information__desc Информация

        section.information__breadcrumb-block
            ul.breadcrumb
                li.breadcrumb__item
                    a.breadcrumb__link Главная
                li.breadcrumb__item
                    a.breadcrumb__link Asic
                li.breadcrumb__item
                    a.breadcrumb__link Bitmain s9
                li.breadcrumb__item
                    a.breadcrumb__link 14.5 th/s



