@import "../../components/btn/btn";
@import "../../components/base/smartgrid";

.err_404 {
  min-height: 60vh;
  background: $white-color;
  padding: 50px 25px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    font-family: $font-din-bold;
    font-size: 36px;
    color: $dark-color;
    margin-bottom: 8px;
  }

  &__subtitle {
    font-family: $font-din-regular;
    font-size: 18px;
    color: #4c4d4c;
    margin-bottom: 50px;
  }

  &__bg {
    display: block;
    max-width: 270px;
    margin: 0 auto;
    margin-bottom: 80px;
  }

}