extends ../../components/base/base

block title
    title Страница оформления заказа

block content
    main.err_404
        h1.err_404__title Страница не найдена
        h2.err_404__subtitle Вы можете найти еще много интересного у нас на сайте
        img(src=require('./bg.svg')).err_404__bg
        a(href='#').btn__default Продолжить
