@import "../base/vars";
@import "../base/smartgrid";

.breadcrumb {

  display: flex;

  &__link {
    font-family: $font-din-regular;
    font-size: 14px;
    color: #7b7b88;
  }

  &__link:after {
    content: "/";
    padding: 0 5px;
  }

  &__item:last-child .breadcrumb__link:after {
    content: "";
    padding: 0 5px;
  }

  &__item:last-child .breadcrumb__link {
    font-family: $font-din-medium;
  }

  @include sm-block{
    padding: 25px;
  }
}
