@import "vars";

@font-face {
  font-family: $font-icon-moon;
  src: url('../../components/base/fonts/Icon/icomoon.eot?sqyfdl');
  src: url('../../components/base/fonts/Icon/icomoon.eot?sqyfdl#iefix') format('embedded-opentype'),
  url('../../components/base/fonts/Icon/icomoon.ttf?sqyfdl') format('truetype'),
  url('../../components/base/fonts/Icon/icomoon.woff?sqyfdl') format('woff'),
  url('../../components/base/fonts/Icon/icomoon.svg?sqyfdl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $font-icon-moon !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-email-c:before {
  content: "\e90d";
}
.icon-phone-c:before {
  content: "\e90e";
}
.icon-close:before {
  content: "\e90c";
}
.icon-minus:before {
  content: "\e90a";
}

.icon-plus:before {
  content: "\e90b";
}

.icon-radio-inactive:before {
  content: "\e908";
}

.icon-radio-active:before {
  content: "\e909";
}

.icon-unchecked:before {
  content: "\e906";
}

.icon-checked:before {
  content: "\e907";
}

.icon-arrow-r:before {
  content: "\e905";
}

.icon-bucket-2:before {
  content: "\e902";
}

.icon-arrow-l:before {
  content: "\e903";
}

.icon-catalog:before {
  content: "\e904";
}

.icon-menu:before {
  content: "\e901";
}

.icon-arrow-b:before {
  content: "\e900";
}

.icon-skype:before {
  content: "\e934";
}

.icon-search:before {
  content: "\e935";
}

.icon-phone-2:before {
  content: "\e936";
}

.icon-phone-1:before {
  content: "\e937";
}

.icon-mail:before {
  content: "\e938";
}

.icon-bucket:before {
  content: "\e939";
}

.icon-arrow:before {
  content: "\e93a";
}

.icon-remove:before {
  content: "\ea0d";
}
