@import "../base/vars";
@import "../base/smartgrid";


.dialog{

  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 60;

  overflow: auto;

  &.is-show{display: block}

  &:before{
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 59;

    background: $dark-color;
    opacity: 0.6;

  }

  &__content{
    position: relative;
    z-index: 61;
    margin: 80px auto;
  }


  &--basket  &__content{
    max-width: 600px;
  }

  @include sm-block{

    &--basket{
      z-index: 23;
    }
    &--basket  &__content{
      margin: 0;
      max-width: 100%;
      height: 100%;
      padding: 0;
    }

    &--basket:before{
      top: 54px;
    }
    &--basket{
      top: 54px;
    }

  }


}