extends ../../components/base/base

block title
    title Страница оформления заказа

block content
    main.order_confirmed
        div.order_confirmed__wrap
            h1.order_confirmed__title Оформление заказа
            div.order_confirmed__animation
                div.check_mark
                    div.sa-icon.sa-success.animate
                        span.sa-line.sa-tip.animateSuccessTip
                        span.sa-line.sa-long.animateSuccessLong
                        div.sa-placeholder
                        div.sa-fix
            div.order_confirmed__subtitle Ваш заказ #20 сформирован!
            div.order_confirmed__desc Пожалуйста, задавайте нам любые вопросы, которые у вас возникают. <br>Спасибо за покупки в нашем интернет-магазине!
            div.order_confirmed__action
                a.btn__primary(href='#') Продолжить




